@import "../scss/theme/variables";
.user-visit-profile {
  background-color: rgba(163, 169, 249, 0.12);
  margin: -20px -30px;
  padding: 20px 30px;
  @media (max-width: 1023px) {
    margin: -20px -20px;
    padding: 20px 20px;
  }
  @media (max-width: 767px) {
    margin: -16px;
    padding: 16px;
  }
  @media (max-width: 640px) {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .left-col {
    margin-right: 20px;
    @media (max-width: 640px) {
      margin-right: 0;
    }
  }
}
.profile-cell {
  .pic-cell {
    width: 78px;
    height: 78px;
    margin-right: 12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .txt-cell {
    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 0 0 5px 0;
    }
    h4 {
      font-size: 15px;
      color: rgba($base-color, 0.65);
    }
  }
}

.user-visit-form {
  .form-blc-rw {
    background-color: rgba(163, 169, 249, 0.1);
    margin-bottom: 5px;
    padding: 15px 15px;
    &:hover {
      background-color: rgba(163, 169, 249, 0.2);
    }
    @media (max-width: 1023px) {
      flex-direction: column;
    }
    > label {
      max-width: 300px;
      width: 100%;
      margin-right: 20px;
      margin-top: 4px;
      margin-bottom: 4px;
      font-weight: bold;
      flex-shrink: 0;
      @media (max-width: 1024px) {
        max-width: 250px;
      }
      @media (max-width: 1023px) {
        max-width: none;
      }
    }
    .form-col-rt {
      .row-blc {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .form-group {
        margin-bottom: 0;
      }
      .input-lbl-col {
        @media (max-width: 1023px) {
          flex-direction: column;
          align-items: stretch !important;
        }
        > label {
          margin-right: 6px;
          @media (max-width: 1023px) {
            margin-right: 0;
          }
        }
        > .form-group {
          width: 170px;
          @media (max-width: 1023px) {
            width: auto;
          }
        }
      }
    }
  }

  .form-elem-col-rw {
    @media (max-width: 1250px) {
      flex-direction: column;
      align-items: stretch !important;
    }
    .form-elem-col {
      margin: 4px 20px 4px 0;
      &:last-child {
        margin-right: 0;
      }
      @media (max-width: 640px) {
        margin: 0 0 15px;
      }
      .form-group {
        @media (max-width: 1023px) {
          flex: 1;
        }
      }
    }
  }
  .form-elem-col {
    margin: 4px 20px 4px 0;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 640px) {
      margin: 0 0 15px;
    }
  }

  .checkbox-cell-list {
    @media (max-width: 640px) {
      flex-wrap: wrap;
    }
    .checkbox-cell {
      margin: 4px 15px 4px 0;
      .icon {
        margin-right: 10px;
      }
      .txt {
        margin-top: 2px;
      }
    }
  }
  .checkbox-cell-list.equal {
    .checkbox-cell {
      width: 100px;
    }
  }
  .input-elem-list {
    > .input-elem-cell {
      margin-top: 4px;
      margin-bottom: 4px;
    }
    .input-elem-cell {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      .input-elem-cell {
        margin-right: 10px;
      }
    }
    .input-elem-cell.input {
      width: 106px;
      @media (max-width: 1023px) {
        flex: 1;
      }
    }
    .input-elem-cell.input2 {
      width: 160px;
    }
  }
  .form-col-rt {
    .calendar-inputs {
      @media (max-width: 640px) {
        flex-direction: column;
        align-items: stretch !important;
      }
      .form-group {
        margin-right: 15px;
        width: 160px;
        @media (max-width: 640px) {
          margin: 0 0 6px;
          width: auto;
        }
      }
    }
  }
  .dropdown-opt-cell {
    width: 358px;
  }
}
