@import "../scss/theme/variables";

.row-lg {
  margin-left: -20px;
  margin-right: -20px;
  > * {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.dash-graph-col {
  margin-bottom: 12px;
  .card-wrapper {
    height: 331px;
    > .head-blc {
      padding: 8px 10px;
      h2 {
        font-size: 18px;
      }
    }
    .inner-body.padd {
      padding: 16px;
    }
  }
}

.dash-graph-col {
  .card-wrapper.card-collapse {
    height: auto;
    overflow: visible !important;
    > .head-blc {
      padding-top: 0;
      padding-bottom: 0;
      .btn {
        height: 40px;
      }
    }
    > .collpase-body {
      height: 331px;
    }
  }
}
