<nav class="navbar bg text-center text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rudraksha Recommendations</a>
  </div>
</nav>


<main class="container mt-4">

  <div class="p-3 p-md-4 d-flex justify-content-center">
    <img class="rounded-3" src="../../../../assets/images/logo (1).png" />
  </div>

  <div class="p-4 p-md-5 mb-4 d-flex justify-content-center">
    <picture>
      <source srcset="../../../../assets/images/2.jpg" class="rounded-3" media="(min-width: 600px)" />
      <img class="rounded-3" src="../../../../assets/images/1.jpg" />
    </picture>
  </div>

  <div class="container mt-3 mb-3 bg-light">
    <div class="row p-5">
      <div class="login-bx">
        <div class="inner-blc">
          <h1 class="display-4 text-center">Enter your details</h1>
          <form [formGroup]="Form" (ngSubmit)="onSubmit()">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="name">
                  Name<span class="text-danger">*</span>
                </label>
                <input id="name" type="text" name="name"
                  [ngClass]="{ 'is-invalid': submitted && Form.controls.name.errors}" formControlName="name"
                  class="form-control">
                <div *ngIf="submitted && Form.controls.name.errors" class="text-danger">
                  <div class="text-danger" *ngIf="Form.controls.name.errors?.required">
                    Name is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="phone">
                  Phone<span class="text-danger">*</span>
                </label>
                <input id="phone" type="text" name="phone" maxlength="10"
                  [ngClass]="{ 'is-invalid': submitted && Form.controls.phone.errors}" formControlName="phone"
                  class="form-control">
                <div *ngIf="submitted && Form.controls.phone.errors" class="text-danger">
                  <div class="text-danger" *ngIf="Form.controls.phone.errors?.required">
                    Phone is required.
                  </div>
                  <div class="text-danger" *ngIf="Form.controls.phone.errors?.pattern">
                    Phone is invalid.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="email">
                  Email<span class="text-danger">*</span>
                </label>
                <input id="email" type="email" name="email"
                  [ngClass]="{ 'is-invalid': submitted && Form.controls.email.errors}" formControlName="email"
                  class="form-control">
                <div *ngIf="submitted && Form.controls.email.errors" class="text-danger">
                  <div class="text-danger" *ngIf="Form.controls.email.errors?.required">
                    Email is required.
                  </div>
                  <div class="text-danger" *ngIf="Form.controls.email.errors?.email">
                    Email address is invalid.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="dob">
                  Date of Birth<span class="text-danger">*</span>
                </label>
                <input id="dob" type="date" name="dob"
                  [ngClass]="{ 'is-invalid': submitted && Form.controls.dob.errors}" formControlName="dob" [max]="date"
                  class="form-control">
                <div *ngIf="submitted && Form.controls.dob.errors" class="text-danger">
                  <div class="text-danger" *ngIf="Form.controls.dob.errors?.required">
                    Date of birth is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group login-link-rw d-flex">
              <button type="submit" class="btn btn-primary btn-lg flex-fill">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container marketing rounded text-center border border-light border-3 client_container bg-light ">
    <div class="pt-2 m-2">
      <span class="section_header"> Our Clients</span>
    </div>
    <h4 class="mb-3">Since 21 years, we have catered to a wide range of customers and influential personalities from all
      walks of life.</h4>
    <ng-image-slider [images]="imageObject" [infinite]="false" [autoSlide]="3" class="image_size" slideImage="1" #nav>
    </ng-image-slider>
  </div>

  <div class="container marketing rounded border border-light border-3 mt-3 aboutUs_container ">
    <div class="pt-2 m-2">
      <span class="section_header">About Us</span>
    </div>
    <h4 class="mb-3">Rudralife is a pioneer organisation in the field of Rudraksha. We collect customer experiences and
      are actively working towards helping more people on their journey towards upliftment.</h4>
  </div>

  <div class="container marketing mt-3 mission_container ">
    <div class="pt-2 m-2">
      <span class="section_header">Our Mission</span>
    </div>
    <div class="hero-image">
      <div class="hero-text">
        <h3>It is our mission to spread <span class="highlighted_text">awareness and educate the masses</span> about the
          divine
          Rudraksha beads. Our aim is
          to supply the <span class="highlighted_text">best quality Nepal Rudraksha </span>to our customers and empower
          their lives through the power of
          these gifts of Lord Shiva.</h3>
      </div>
    </div>
  </div>

  <div class="container marketing mt-3 vision_container ">
    <div class="pt-2 m-2">
      <span class="section_header">Our Vision</span>
    </div>
    <div class="hero-image">
      <div class="hero-text">
        <h3>Since <span class="highlighted_text">22 years,</span> Rudralife has been working dedicatedly to spread
          knowledge of
          Rudraksha to
          the masses. We
          have our own <span class="highlighted_text">ISO certified laboratories</span> for Rudraksha testing. We are
          the world's largest organisation of
          Rudraksha due to our emphasis on quality, credibility and collecting customer experiences.</h3>
      </div>
    </div>
    <div class="row p-5 text-center">
      <div class="col-lg-3 p-2">
        <img src="../../../../assets/images/credibility-icon-1.png" width="140" height="140" alt="" srcset="">
        <p class="text-primary h1 p-2">910</p>
        <p class="m-2">Number Of Exhibitions</p>
      </div>
      <div class="col-lg-3 p-2">
        <img src="../../../../assets/images/credibility-icon-2.png" width="140" height="140" alt="" srcset="">
        <p class="text-success h1 p-2">315265</p>
        <p class="m-2">Customers</p>
      </div>
      <div class="col-lg-3 p-2">
        <img src="../../../../assets/images/credibility-icon-3.png" width="140" height="140" alt="" srcset="">
        <p class="text_yellow h1 p-2">72%</p>
        <p class="m-2"> Repeat Customers</p>
      </div>
      <div class="col-lg-3 p-2">
        <img src="../../../../assets/images/credibility-icon-4.png" width="140" height="140" alt="" srcset="">
        <p class="text-warning h1 p-2">100%</p>
        <p class="m-2"> Satisfied Customers</p>
      </div>
    </div>
  </div>

  <div class="container marketing text-center bg-light rounded-3 mb-3 client_container">
    <div class="pt-2 m-2">
      <span class="section_header">Know more about Rudraksha</span>
    </div>
    <h5 class="mb-3">Explore our YouTube videos to know more about our products, services and upcoming events.</h5>
    <div class="row">
      <div class="col-lg-3 mb-3 image_container">
        <div class="col">
          <img src="http://img.youtube.com/vi/GfMEQ1y4K-c/hqdefault.jpg" width="100%" rounded alt="" srcset="">
        </div>
        <div class="col">
          <p class="m-2"> The elusive One Mukhi Rudraksha.</p>
          <p><a class="btn btn-primary text-white" target="_blank" href="https://youtu.be/GfMEQ1y4K-c">WATCH NOW</a></p>
        </div>


      </div>
      <div class="col-lg-3 mb-3 image_container">
        <div class="col">
          <img src="http://img.youtube.com/vi/NvT40EOG9a8/hqdefault.jpg" width="100%" rounded alt="" srcset="">
        </div>
        <div class="col">
          <p class="m-2">How to clean and maintain Rudraksha.</p>
          <p><a class="btn btn-primary text-white" target="_blank" href="https://youtu.be/NvT40EOG9a8">WATCH NOW</a></p>
        </div>
      </div>
      <div class="col-lg-3 mb-3 image_container">
        <div class="col">
          <img src="http://img.youtube.com/vi/efd1qawJ3V8/hqdefault.jpg" width="100%" rounded alt="" srcset="">
        </div>
        <div class="col">
          <p class="m-2">Myth vs Facts : Copper Coin Test.</p>
          <p><a class="btn btn-primary text-white" target="_blank" href="https://youtu.be/efd1qawJ3V8">WATCH NOW</a></p>
        </div>
      </div>
      <div class="col-lg-3 mb-3 image_container">
        <div class="col">
          <img src="http://img.youtube.com/vi/3dZMaMDxoXs/hqdefault.jpg" width="100%" rounded alt="" srcset="">
        </div>
        <div class="col">
          <p class="m-2">Importance Of Sankalp Puja.</p>
          <p><a class="btn btn-primary text-white" target="_blank"
              href="https://www.youtube.com/watch?v=3dZMaMDxoXs">WATCH NOW</a></p>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-3 mb-3 image_container">
        <div class="col">
          <img src="http://img.youtube.com/vi/GfMEQ1y4K-c/hqdefault.jpg" width="100%" rounded alt="" srcset="">
        </div>
        <div class="col">
          <p class="m-2">The Elusive One Mukhi Rudraksha by Dr. Tanay Seetha.</p>
          <p><a class="btn btn-primary text-white" target="_blank"
              href="https://www.youtube.com/watch?v=GfMEQ1y4K-c">WATCH NOW</a></p>
        </div>
      </div>
      <div class="col-lg-3 mb-3 image_container">
        <div class="col">
          <img src="http://img.youtube.com/vi/IeK01rfOry8/hqdefault.jpg" width="100%" rounded alt="" srcset="">
        </div>
        <div class="col">
          <p class="m-2">Rudraksha for Women and Women Empowerment.</p>
          <p><a class="btn btn-primary text-white" target="_blank"
              href="https://www.youtube.com/watch?v=IeK01rfOry8&list=PLpU76hmFLidBFEnbd4-5u98MLgUcyNc_Q&index=2">WATCH
              NOW</a></p>
        </div>
      </div>
      <div class="col-lg-3 mb-3 image_container">
        <div class="col">
          <img src="http://img.youtube.com/vi/NTPWXSInEKA/hqdefault.jpg" width="100%" rounded alt="" srcset="">
        </div>
        <div class="col">
          <p class="m-2">Malas For Ultimate Success.</p>
          <p><a class="btn btn-primary text-white" target="_blank"
              href="https://www.youtube.com/watch?v=NTPWXSInEKA&list=PLpU76hmFLidCytgI0l6ywan2qqJDdBmiJ&index=32">WATCH
              NOW</a></p>
        </div>
      </div>
      <div class="col-lg-3 mb-3 image_container">
        <div class="col">
          <img src="http://img.youtube.com/vi/NPbrhwL-kBA/hqdefault.jpg" width="100%" rounded alt="" srcset="">
        </div>
        <div class="col">
          <p class="m-2">Rudralife Testimonial.</p>
          <p><a class="btn btn-primary text-white" target="_blank"
              href="https://www.youtube.com/watch?v=NPbrhwL-kBA&list=PLpU76hmFLidCaT4nm9aP5Gt5-IFVQuTaB&index=20">WATCH
              NOW</a></p>
        </div>
      </div>
    </div>


  </div>

  <div class="container marketing text-center bg-light mb-3 rounded-3 client_container">
    <div class="pt-2 m-2">
      <span class="section_header">Our Blog</span>
    </div>
    <h5 class="mb-3">Explore our blogs and articles which help people know more about Rudraksha and Rudralife.</h5>
    <div class="row">
      <div class="col-lg-3 mb-3">
        <img src="https://www.rudralife.com/blog/wp-content/uploads/2022/04/647-x-486-min-1.jpg" class="img-thumbnail"
          rounded alt="" srcset="">
        <a class="text-white" target="_blank"
          href="https://www.rudralife.com/blog/saraswati-bandh-the-best-rudraksha-for-students-memory-intelligence-and-academic-success/">
          <button class="btn btn-primary btn-lg w-100  btn-block">LEARN MORE</button></a>

      </div>
      <div class="col-lg-3 mb-3">
        <img src="https://www.rudralife.com/blog/wp-content/uploads/2022/04/647-x-486..jpg
        " class="img-thumbnail" rounded alt="" srcset="">
        <a class="text-white " target="_blank"
          href="https://www.rudralife.com/blog/7-mukhi-cashbox-best-rudraksha-for-wealth-fame-progress-and-good-fortune-gets-the-blessings-of-maa-lakshmi/">
          <button class="btn btn-primary btn-lg w-100  btn-block">LEARN MORE</button></a>
      </div>
      <div class="col-lg-3 mb-3">
        <img src="https://www.rudralife.com/blog/wp-content/uploads/2022/05/Can-Women-wear-Rudraksha.jpg"
          class="img-thumbnail" rounded alt="" srcset="">
        <a class="text-white " target="_blank" href="https://www.rudralife.com/blog/can-women-wear-rudraksha/"> <button
            class="btn btn-primary btn-lg w-100  btn-block">LEARN MORE</button></a>
      </div>
      <div class="col-lg-3 mb-3">
        <img src="https://www.rudralife.com/blog/wp-content/uploads/2022/05/Can-only-Hindus-can-wear-Rudraksha.jpg"
          class="img-thumbnail" rounded alt="" srcset="">
        <a class=" text-white" target="_blank" href="https://www.rudralife.com/blog/can-only-hindus-wear-rudraksha-2/">
          <button class="btn btn-primary btn-lg w-100  btn-block">LEARN MORE</button></a>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-3 mb-3">
        <img src="https://www.rudralife.com/blog/wp-content/uploads/2022/05/SOR.jpg" class="img-thumbnail" rounded
          alt="" srcset="">
        <a class=" text-white " target="_blank"
          href="https://www.rudralife.com/blog/what-is-special-about-rudraksha-beads/"> <button
            class="btn btn-primary btn-lg w-100  btn-block">LEARN MORE</button></a>
      </div>
      <div class="col-lg-3 mb-3">
        <img src="https://www.rudralife.com/blog/wp-content/uploads/2022/05/beads.jpg" class="img-thumbnail" rounded
          alt="" srcset="">
        <a class=" text-white " target="_blank"
          href="https://www.rudralife.com/blog/what-are-rudraksha-beads-where-are-they-available/"> <button
            class="btn btn-primary btn-lg w-100  btn-block">LEARN MORE</button></a>
      </div>
      <div class="col-lg-3 mb-3">
        <img src="https://www.rudralife.com/blog/wp-content/uploads/2022/04/647-x-486-1.jpg" class="img-thumbnail"
          rounded alt="" srcset="">
        <a class=" text-white " target="_blank"
          href="https://www.rudralife.com/blog/swasthya-bandh-best-combination-for-overall-health-protection-gives-relief-from-diabetes-and-depression/">
          <button class="btn btn-primary btn-lg w-100  btn-block">LEARN MORE</button></a>
      </div>
      <div class="col-lg-3 mb-3">
        <img
          src="https://www.rudralife.com/blog/wp-content/uploads/2022/05/WhatsApp-Image-2022-05-24-at-11.23.22-AM.jpeg"
          class="img-thumbnail" rounded alt="" srcset="">
        <a class=" text-white" target="_blank"
          href="https://www.rudralife.com/blog/right-way-of-making-rudraksha-mala/"> <button
            class="btn btn-primary btn-lg w-100  btn-block">LEARN MORE</button></a>
      </div>
    </div>


  </div>

</main>



<div class="d-flex flex-column">

  <!-- FOOTER -->
  <footer class="w-100 p-4 flex-shrink-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 border_left mb-2">
          <h5 class="text-white">Visit our website to shop for Rudraksha and explore our other services :
            <a class="text-primary" href="https://rudralife.com/" target="_blank">www.rudralife.com</a>
          </h5>
        </div>
        <div class="col-lg-6 col-md-6 border_left">
          <h5 class="text-white">Follow us on Social media</h5>
          <p class="m-2">
            <a href="https://www.facebook.com/rudralife" target="_blank"><img
                src="../../../../assets/images/facebook (1).png" class="pe-2"  alt="" srcset=""></a>
            <a href="https://www.instagram.com/rudraliferudraksha/" target="_blank"><img
                src="../../../../assets/images/instagram (1).png" class="pe-2"  alt="" srcset=""></a>
            <a href="linkedin.com/in/rudraliferudraksha" target="_blank"><img
                src="../../../../assets/images/linkedin (1).png" class="pe-2"  alt="" srcset=""></a>
            <a href="https://www.quora.com/profile/Rudralife-1" target="_blank"><img
                src="../../../../assets/images/quora (1).png" class="pe-2"  alt="" srcset=""></a>
            <a href="https://pin.it/4OVI5Q3" target="_blank"> <img src="../../../../assets/images/pinterest (1).png"
                class="pe-2"  alt="" srcset=""></a>
            <a href="https://www.youtube.com/c/rudralife" target="_blank"> <img
                src="../../../../assets/images/youtube (1).png" class="pe-2"  alt="" srcset=""></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>

<a href="https://api.whatsapp.com/send?
phone=+919892956110
&text=hello" class="float" target="_blank" id="sendMessageToWhatsapp">
</a>