@import "../../../../assets/scss/theme/variables";

.login-wrapper {
  >.container {
    z-index: 1;
    height: 100%;
  }
}


a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.bg-brand {
  background-color: $brand;
}


.text_yellow {
  color: #dcdc5d;
}

footer {
  background: $brand;
}

.btn-primary {
  background-color: #f47836 !important;
  border: #f47836 !important;
  color: white !important
}

.responsive {
  width: 100%;
  height: auto;
}

.image_size {
  width: 100%;
  height: 30%
}

.card-layout {
  display: flex;
  align-items: center;
  max-height: 19rem;
  height: 19rem !important;
}

.bg {
  background-color: $brand  !important;
}


.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: block !important;
  flex-wrap: inherit;
  text-align: center !important;
}

.highlighted_text{
  color:#f47836;
  font-weight: bold;
  font-size: 28px !important;
}

.client_container {
  color: $brand;
  border-bottom: 3px solid #f47836;

  .section_header {
    font-size: xx-large;
    border-bottom: 3px solid #f47836;
  }

  @media (max-width: 767px) {
    .image_container {
      display: flex;
      align-items: center;
    }
  }

}

.aboutUs_container {
  color: $brand;

  .section_header {
    font-size: xx-large;
    border-left: 3px solid #f47836;
    padding-left: 10px;
  }
}

.mission_container{
  color: $brand;

  .section_header {
    font-size: xx-large;
    border-left: 3px solid #f47836;
    padding-left: 10px;
  }

  span{
    font-size: x-large;
  }

  .hero-image {
    background-image: url("../../../../assets/images/1-mission.png");
    background-color: #cccccc;
    height: 500px;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}


.vision_container{
  color: $brand;

  .section_header {
    font-size: xx-large;
    border-left: 3px solid #f47836;
    padding-left: 10px;
  }

  span{
    font-size: x-large;
  }

  .hero-image {
    background-image: url("../../../../assets/images/2-vision.png");
    background-color: #cccccc;
    height: 500px;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

.border_left{
  border-left: 3px solid #f47836;
}

.form-control {
  border: 2px solid #a7a4a4 !important;
}