@import "../../../../assets/scss/theme/variables";

.login-wrapper {
  >.container {
    z-index: 1;
    height: 100%;
  }
}


a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.bg-brand {
  background-color: $brand;
}


.text_yellow {
  color: #dcdc5d;
}

footer {
  background: #212529;
}

.btn-primary {
  background-color: $brand  !important;
  border-color: $brand  !important;
}

.responsive{
  width: 100%;
  height: auto;
}

.image_size{
  width:100%;
  height:30%
}
.card-layout{
  display: flex;
  align-items: center;
  max-height: 19rem;
  height: 19rem !important;
}
