<div class="login-wrapper d-flex flex-column flex-fill position-relative">
  <div class="top-pic position-absolute">
  </div>
  <div class="container m-auto">
    <div class="loign-rw d-flex align-items-center">
      <div class="login-lft text-center">
        <!-- <h6>Welcome to </h6> -->
        <img src="../../../../assets/images/logo.jpg" class="w-50 rounded-circle" alt="" srcset="">
      </div>
      <div class="login-rt">
        <div class="login-bx">
          <div class="signUpClass text-center mb-3">
            <h3>Welcome Sharan,</h3>
          </div>
          <div class="inner-blc">
            <label class="signUpClass" for="sign-up">Thank you for registering with us. Please click the below button
              for customer loan. </label>

            <div class="form-group login-link-rw d-flex mt-3">
              <button type="submit" class="btn btn-primary rounded-pill flex-fill">Loan Application</button>
            </div>
            <div class="form-group login-link-rw d-flex mt-3">
              <button type="submit" class="btn btn-danger rounded-pill flex-fill">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btm-pic position-absolute">
  </div>
</div>