@import "../../../../assets/scss/theme/variables";

.banner_pannel_img {
    position: relative;
    top: -15%;
}



.rudraksh_container {
    color: $brand;
    // border-bottom: 3px solid #f47836;

    .section_header {
        font-size: xx-large;
        border-bottom: 3px solid #f47836;
    }

    @media (min-width: 767px) {
        .extra-info {
            padding:2rem;
        }
    }
}


.pooja_container {
    color: $brand;
    // border-bottom: 3px solid #f47836;

    .section_header {
        font-size: xx-large;
        border-bottom: 3px solid #f47836;
    }

    @media (min-width: 767px) {
        .extra-info {
            padding:2rem;
        }
    }

}

.Testimonial_container{
    border: 3px solid #f47836;
    border-radius: 10px !important;
    margin-bottom: 10px;
}

.border_left{
    border-left: 3px solid #f47836;
}
